<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CheckIn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BB167931CEA713D0012A9DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB167AC1CEA713D0012A9DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB167B71CEA713D0012A9DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
